/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap');
/* curl 
.yeseva-one-regular {
  font-family: "Yeseva One", serif;
  font-weight: 400;
  font-style: normal;
}
*/
/* thin 
.julius-sans-one-regular {
  font-family: "Julius Sans One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
*/
/* twenties
.limelight-regular {
  font-family: "Limelight", sans-serif;
  font-weight: 400;
  font-style: normal;
} 
*/
/* spacey
.expletus-sans-<uniquifier> {
  font-family: "Expletus Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
 */
/* chunky 
.climate-crisis-<uniquifier> {
  font-family: "Climate Crisis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "YEAR" 1979;
}
*/

/* Only necessary with horizontal scrolling */
/* html[data-scroll-orientation="horizontal"] {
  body {
      width: fit-content;
  }
  [data-scroll-container] {
      display: flex;
  }
} */



body {
    background: #D4D4D4;
    font-family: "", sans-serif;
}

.container {
    /* max-width: 1600px; */
    margin: 0 auto;
    width: 100%;
}

.sr-only {
    border: 0;
    clip: rect(0,0,0,0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.flexy {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

h1, h2, h3 {
    font-family: "Expletus Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.name {
  font-size: 5em;
}
#first-name{
  height: 5em;
}
#last-name{
  height: 5em;
}

.navButton {
  background-color: DodgerBlue; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  border-radius: 50%;
  position: fixed;
  top: 5%;
  right: 5%;
}
.navButton:hover {
  background-color: RoyalBlue;
}

#overlay{
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: white;
  display: block;
  transition: 0.3s;
}

#close-nav-btn{
  background-color: darkred;
}

#close-nav-btn:hover{
  background-color: maroon;
}

.top-bit{
  position: absolute;
  top: 15%;
  bottom: 15%;
  left: 15%;
  right: 15%;
  
  border: 4px;
  border-style: dashed;
  transition: 0.1s;
}

.top-bit:hover {
  border: 4px;
  border-style: dashed;
}

.panel {
  position: relative;
  height: 100vh;
}

.red {
  background-color: darkred;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.red p, h1 {
  color: D4D4D4;
}