@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap');

/* css reset */
*,
*:before,
*:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0
}

body {
    font-size: 15px;
    background: #D4D4D4;
    font-family: "", sans-serif;
    color: #121212;
}

h1, h2, h3 {
    font-family: "Expletus Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h1, h2 {
  padding: .2em 0;
}

h2{font-size: 2em;}
h3{font-size: 1.7em;}

p {
    margin: 1.8em 0;
    line-height: 1.8em;
    font-size: 1.1em;
}

nav, main,
aside, footer {
    max-width: 100%;
    padding: 1.5em;
    /* border: 1px black solid; */
}

footer {
    text-align: center;
    padding: 1.5em;
    background-color: #D4D4D4;
}

/* using grid templating */
.container {
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 
        1fr 3fr 1fr;
    grid-template-areas:
    "heady heady heady"
    "mainy mainy mainy"
    "footy footy footy";
}

header{grid-area: heady; ;}
main{grid-area: mainy; max-height: 100%}
#aside1{grid-area: aside1;}
#aside2{grid-area: aside2;}
footer{grid-area: footy;}

.container50 {
  font-size: 4em;
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  text-overflow: "";
}
#first-name{
  justify-self: flex-start;
  align-self: flex-start;
}
#last-name{
  justify-self: flex-end;
  align-self: flex-end;
  text-align: right;
}

.top-bit-2{
  position: absolute;
  top: 40%;
  bottom: 20%;
  left: 10%;
  right: 10%;
  z-index: -1;
}

.top-bit{
  position: absolute;
  top: 20%;
  bottom: 20%;
  left: 10%;
  right: 10%;
  z-index: -1;
  
  /* border: 4px white;
  border-style: solid; */
  transition: 0.2s;
  padding: 20px;
  text-align: right;

  display: flex column wrap;
  flex-shrink: 3;
  max-width: 100%;
  max-height: 100%;
  background-image: url("C:\Users\Mallory Prescott\Documents\GitHub\ATLS-4630-Project-1\Portfolio\img\itsMe.jpg");
  background-position: center; 
  filter: grayscale(100%);
  justify-content: flex-end;
  align-content: flex-end;
}
.top-bit-text {
  filter: none;
  max-width: 100%;
  max-height: 100%;
  background-color: rgba(255,255,255,0.5);
  padding: 5px;
}
.top-bit:hover {
  border-style: dashed;
}

.panel {
  position: relative;
  height: 100vh;
  width: 100%;
  /* border: 5px black solid; */
}

.mini-panel {
  position: relative;
  height: 50vh;
  width: 100%;
}

main, section{
  padding: 0;
}

.content{
  justify-content: center;
  align-content: center;
}

.red, .white {
  padding: 20px;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-content: center;
  /* border: white solid; */
  margin: 0;
  max-height: 100%;
  background-color: rgba(255,255,255,0.1);

  overflow: visible;
}

/* .red {
  background-color: gainsboro;
  color: black;
} */

.svgBox {
  height: 100px;
  width: 100px;
  line-height: 100px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  transition: 0.2s;
  background-color: rgba(255,255,255,0.4);
}

/* .bigger {
  height: 150px;
  width: 150px;
  line-height: 150px;
}

.smaller {
  height: 75px;
  width: 75px;
  line-height: 75px;
} */

.svgBox:hover {
  border-radius: 5%;
  background-color: rgba(255,255,255,0.7);
}

.circleStore{
  display: flex row wrap;
  justify-content: space-between;
  z-index: -1;
}

img{
  max-width: 600px;
  max-width: 600px;
  object-fit: contain;
}

.icon-link{
  max-width: 150px;
  max-width: 150px;
  text-align: center;
  font-size: 1.2em;
}

.icon-link-big{
  max-width: 300px;
  max-width: 300px;
  text-align: center;
  font-size: 1.2em;
}

figcaption{
  padding: 5px;
}

/* screen size responsiveness */
@media screen and (min-width: 501px) and (max-width: 900px) {
    .container {
        grid-template-columns:
            1fr 1fr;
        grid-template-areas: 
            "heady heady"
            "mainy mainy"
            "aside1 aside2"
            "footy footy";
    }
    header{
      text-align: center;
    }
    #first-name{
      justify-self: center;
      align-self: flex-start;
    }
    #last-name{
      justify-self: center;
      align-self: flex-end;
      text-align: right;
    }
}

@media screen and (max-width: 500px) {
    .container {
        grid-template-columns:
            1fr;
        grid-template-areas: 
            "heady"
            "mainy"
            "aside1"
            "aside2"
            "footy";
    }
    header{
      text-align: center;
    }
    nav ul {
        flex-flow: column nowrap;
        text-align: center;
    }
    nav ul li a {
        display: block;
        padding: 10px 5px;
        margin: 5px;
        border: 1px black solid;
        background: white;
        border-radius: 5;
    }
    #first-name{
      justify-self: center;
      align-self: flex-start;
    }
    #last-name{
      justify-self: center;
      align-self: flex-end;
      text-align: right;
    }
}


/* body {
  background: linear-gradient(-45deg, #858585, #a7a7a7, #D4D4D4, #e5e5e5);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
} */

/* feedback:
- add colors
- speed up animations */

@media (prefers-color-scheme: dark) {
  body {
    color: #eee;
    background: linear-gradient(-45deg, darkslategray 0%, darkslategray 25%, darkslategray 51%, #121212 100%);
    background-color: #121212;
  }

  body a {
    color: #809fff;
  }

  .red, .white {
    background-color: rgba(255,255,255,0.1);
  }
    
  footer {
    background-color: #121212;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}